<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Lista De Ingredientes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="col">
                  <div class="text-center">
                    <h2 class="fw-bold text-center pt-5 mb">Bienvenido</h2>
                    <form action="">
                      <h3>Login</h3>
                      <div class="mb-4">
                        <label for="email" class="for-label">Usuario</label>
                        <input type="email" class="from-control" name="user">
                      </div>
                      <div class="mb-4">
                        <label for="password" class="for-label">Contraseña</label>
                        <input type="password" class="from-control" name="pass">
                      </div>
                      <div class="d-grid mb-4" style="width: 25%;">
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
      </div>
    </div>
  </div>