<script>
$(document).ready(function () {

  var ingredients = <%- JSON.stringify(ingredients) %>;
  

  var tags = JSON.parse(localStorage.getItem('tags')) || [];
  for (let i = 0; i < tags.length; i++) {
    crearTag(tags[i]);
  }
  // console.log(tags[1]);

  $("#input-autocompletado").autocomplete({
    source: function (request, response) {
      // Buscar en el arreglo de objetos y filtrar por los nombres de los ingredientes
      var matches = $.map(ingredients, function (obj) {
        if (obj.name.toLowerCase().indexOf(request.term.toLowerCase()) !== -1) {
          return obj.name;
        }
      });
      // Devolver el arreglo filtrado de nombres de ingredientes
      response(matches.slice(0, 5)); // Limitar a solo 5 sugerencias
    },
    select: seleccionarOpcion
  });

  function seleccionarOpcion(event, ui) {
    event.preventDefault();
    var tag = ui.item.label;// Obtiene la etiqueta seleccionada del objeto de autocompletado
    console.log('selected: ' +tags) // Imprime en la consola la etiqueta seleccionada
    if(!tags.includes(tag))
    {
      crearTag(tag); // Crea una etiqueta si no existe en el arreglo de etiquetas
    }
    $("#input-autocompletado").val(""); // Limpia el campo de entrada del autocompletado
  }

  function crearTag(tag) {
  var tagHtml = "<span class='tag badge bg-dark'><span class='tag-text'>" + tag + "</span><i class='eliminar-tag fa fa-times-circle'></i></span>";  // Crea el código HTML para mostrar la etiqueta
  $("#tags-container").append(tagHtml); // Agrega la etiqueta al contenedor de etiquetas en el DOM

  if(!tags.includes(tag))
  {
    tags.push(tag); // Agrega la etiqueta al arreglo de etiquetas
    localStorage.setItem('tags', JSON.stringify(tags)); // Almacena el arreglo de etiquetas en el almacenamiento local
  }
  agregarValor(tags,'tags'); // Agrega los valores actualizados al elemento correspondiente--
}


  $(document).on("click", ".eliminar-tag", function () {
    var tag = $(this).closest(".tag");
    var tagIndex = tags.indexOf(tag.text().replace("x", "").trim());
    // removeItem(tag);
    tag.remove();
    tags.splice(tagIndex, 1);
    agregarValor(tags);
    localStorage.setItem('tags', JSON.stringify(tags));
  });

//   $(document).ready(function(){
//   $('.slider').slick({
//     appendArrows: '.slider-arrows',
//     slidesToShow: 'auto', // número de elementos a mostrar por slide
//     slidesToScroll: 'auto', // número de elementos a desplazar por slide
//     dots: true, // mostrar indicadores de posición
//     infinite: false // desactivar bucle infinito
//   });
// });

 
});

</script>