<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function agregarRecomendacion() {
    // console.log(Object.keys(pais)[0]);
    
    const userid= <%- user[0].id %>;
    axios.post('/recomendation',{userid})
    
      .then(response => {
        
        const data = response.data.recipes;
        let html = '';

let counter = 0;  // Initialize counter variable

data.forEach(recipe => {
 // Check if the counter is less than 3
    html += 
      '<div class="col-md-4 mb-4">'
      + '<div class="card mx-1 shadow" style="width: 18rem;">'
      + '<img src="' + recipe.url + '" class="card-img-top" alt="...">'
      + '<div class="card-body">'
      + '<h5 class="card-title title_ingredient">' + recipe.name + '</h5>'
      + '<p class="card-text text_ingredient">' + recipe.instructions + '</p>'
      + '<button id="btn-favorito-' + recipe.id + '" class="btn btn-outline-warning" onclick="toggleFavorito(\'' + recipe.id + '\')"><i class="bi bi-heart"></i> Favoritos</button>'
      + '<a id="number" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="addRecipe(' + recipe.id + ',' + userid + ')">Ver Receta</a>'
      + '</div>'
      + '</div>'
      + '</div>';


});


        html += '';
        document.getElementById('recipes_recommendation').innerHTML = html;

      })
      .catch(error => {
        console.error(error);
      });
  }
  agregarRecomendacion();
</script>