<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

  function agregarValor(tags) {
    // console.log(Object.keys(pais)[0]);
    console.log('agregarvalor():' + tags);
    const userid= <%- user %>;
    axios.post('/add', tags)
    
      .then(response => {
        
        const data = response.data.recipes;
        let html = '';

        data.forEach(recipe => {
          html += 
          '<div class= "col-md-4 mb-4">'
          +'<div class="card mx-1 shadow" style="width: 18rem;">'
            +'<img src="'+ recipe.url +'" class="card-img-top" alt="..." >'
              +'<div class="card-body">'
                +'<h5 class="card-title title_ingredient">'+ recipe.name +'</h5>'
                +'<p class="card-text text_ingredient">'+ recipe.instructions +'</p>'
                +`<button id="btn-favorito-${recipe.id}" class="btn btn-outline-warning" onclick="toggleFavorito('${recipe.id}')"><i class="bi bi-heart"></i> Favoritos</button>`
                +'<a id ="number" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="addRecipe('+recipe.id+','+userid+')">Ver Receta</a>'
              +'</div>'
          +'</div>'
          +'</div>';
        });

        html += '';
        document.getElementById('recipes').innerHTML = html;

      })
      .catch(error => {
        console.error(error);
      });
  }

  

  function agregarFiltro(key, value) {
    if(key == 'country')
    {
      localStorage.setItem('filter_country', value)
    }
    if(key == 'category')
    {
      localStorage.setItem('filter_category', value)
    }

    var country_id = localStorage.getItem('filter_country')
    var category_id = localStorage.getItem('filter_category')
    var tags = JSON.parse(localStorage.getItem('tags'))
    
    axios.post('/filter', {tags: tags, country_id: country_id, category_id: category_id})
      .then(response => {
        
        const data = response.data.recipes;
        let html = '';
        console.log(data)
        data.forEach(recipe => {
          html += 
          '<div class= "col-md-4 mb-4">'
          +'<div class="card mx-1 shadow" style="width: 18rem;">'
            +``
            +'<img src="'+ recipe.url +'" class="card-img-top" alt="..." >'
              +'<div class="card-body">'
                +'<h5 class="card-title title_ingredient">'+ recipe.name +'</h5>'
                +'<p class="card-text text_ingredient">'+ recipe.instructions +'</p>'
                +`<button id="btn-favorito" class="btn btn-outline-warning" onclick="toggleFavorito('${recipe.id}')"> <i id="icono-favorito" class="bi bi-star"></i> Favoritos</button>`
                +'<a id ="number" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="addRecipe('+recipe.id+')">Ver Receta</a>'
              +'</div>'
          +'</div>'
          +'</div>';
        });

        html += '';
        document.getElementById('recipes').innerHTML = html;

      })
      .catch(error => {
        console.error(error);
      });
  }

</script>