<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <header>
        <img src="https://www.pngmart.com/files/21/Account-Avatar-Profile-PNG-Clipart.png">
        <h2>Perfil del usuario</h2>
        <button type="button" class="btn btn-danger">Salir</button>
    </header>
    <%- include('partials/tags'); %>
    <%- include('partials/recipe'); %>
    <%- include('partials/modal_ingredients'); %>
</body>
</html>