<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <style>
        .tag {
            display: inline-block;
            margin-right: 10px;
            padding: 5px;
            background-color: #e6e6e6;
            border-radius: 5px;
        }

        .eliminar-tag {
            margin-left: 5px;
            background-color: transparent;
            border: none;
            font-weight: bold;
            color: #333;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div>
        <label for="input-autocompletado">Ingrese tags:</label>
        <input id="input-autocompletado" type="text">
    </div>
    <div id="tags-container"></div>

    <script>
        $(function () {
            var tags = [];

            $("#input-autocompletado").autocomplete({
                source: ["JavaScript", "HTML", "CSS", "Python", "Java", "Ruby", "PHP", "C++", "C#", "Swift"],
                select: seleccionarOpcion
            });

            function seleccionarOpcion(event, ui) {
                event.preventDefault();
                var tag = ui.item.label;
                crearTag(tag);
                $("#input-autocompletado").val("");
            }

            function crearTag(tag) {
                var tagHtml = "<span class='tag'>" + tag + "<button class='eliminar-tag'>x</button></span>";
                $("#tags-container").append(tagHtml);
                tags.push(tag);
            }

            $(document).on("click", ".eliminar-tag", function () {
                var tag = $(this).closest(".tag");
                var tagIndex = tags.indexOf(tag.text().replace("x", "").trim());
                tag.remove();
                tags.splice(tagIndex, 1);
            });
        });


    </script>

</body>

</html>