<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  <title>Registro e Inicio de Sesión</title>
</head>
<body>

  <div class="container">
    <ul class="nav nav-tabs" id="registroIngresoTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="registro-tab" data-bs-toggle="tab" data-bs-target="#registro" type="button" role="tab" aria-controls="registro" aria-selected="true">Registro</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="ingreso-tab" data-bs-toggle="tab" data-bs-target="#ingreso" type="button" role="tab" aria-controls="ingreso" aria-selected="false">Iniciar sesión</button>
      </li>
    </ul>

    <div class="tab-content" id="registroIngresoContent">
      <div class="tab-pane fade show active" id="registro" role="tabpanel" aria-labelledby="registro-tab">
        <form id="form-registro">
          <form class="register1">
            <h2 class="text-center mb-4">Registro</h2>
            <div class="mb-3" >
              <label for="text" class="form-label" >Nombre</label>
              <input type="text" class="form-control"  id="name" name="name" required>
            </div>
            <div class="mb-3" >
              <label for="text" class="form-label" >Apellido</label>
              <input type="text" class="form-control"  id="last_name" name="last_name" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label" >Correo electrónico</label>
              <input type="email" class="form-control"  id="email1" name="email" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" onclick="agregarUser(event)">Registrarse</button>
            </div>
          </form>
        </form>
      </div>
      <div class="tab-pane fade" id="ingreso" role="tabpanel" aria-labelledby="ingreso-tab">
        <form id="form-ingreso">
          <form action="/login" method="POST" class="signin1">
            <h2 class="text-center mb-4">Iniciar sesión</h2>
            <div class="mb-3" style="padding: 12px;">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3" style="padding: 12px;">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="d-grid gap-2" style="padding: 12px;">
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </div>
            
          </div>
        </form>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function comprobarUser() {
    var email = document.getElementById("email").value
    var password = document.getElementById("password").value
    var user = [email, password]
    axios.post('/check', user)
      .then(response => {
        console.log(response.data)
        document.getElementById("email").value = ""
        document.getElementById("password").value = ""
        $('#registroExitosoModal').modal('show');
        let html = `<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="passUser(response)" href="/user">Iniciar sesión</button>`
        document.getElementById('modal-footer').innerHTML = html;
      })
      .catch(error => {
        console.error(error);
      });
  }

</script>
</body>
</html>







