*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(image/image1.jpeg);
    height: 100vh;
    background-size: cover;
}
header{
    align-self: center;
}